name: Dotnet Test Debug
runs:
  using: "composite"
  steps:
    - name: Test Unit
      shell: bash
      env:
        # Intentionally, telemetry is not disabled to support MS Testing Platform development in this CI pipeline
        TESTINGPLATFORM_TELEMETRY_OPTOUT: '0'
      run: dotnet run --project DRN.Test.Unit/DRN.Test.Unit.csproj --no-build --verbosity normal
    - name: Test Integration
      shell: bash
      env:
        # Intentionally, telemetry is not disabled to support MS Testing Platform development in this CI pipeline
        TESTINGPLATFORM_TELEMETRY_OPTOUT: '0'
      run: dotnet run --project DRN.Test/DRN.Test.csproj --no-build --verbosity normal
