@page "/{Home?}"
@model Sample.Hosted.Pages.Home

@{
    ViewData["Title"] = "Home Page";
    ViewData["CenterVertically"] = true;
}

<div class="row justify-content-center text-center">
    <h1 class="display-4">Welcome to @AppSettings.Instance.ApplicationName!</h1>
    <p>This is a simple home page example using Razor Pages.</p>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}