LICENSE
README.md
**/node_modules
**/npm-debug.log
**/obj
**/bin
**/out
**/build
**/.project
**/.settings
**/.toolstarget
**/.vscode
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/charts
**/.env
**/.git
**/.gitignore
**/.dockerignore
**/docker-compose*
**/Dockerfile*
**/secrets.dev.yaml
**/values.dev.yaml
**/*.md
**/.cache
**/.project
**/.idea
**/.idea/workspace.xml
**/.DS_Store
**/.classpath

!docker-compose.dcproj

# Alternative approach first ignore everything uncomment nextline
#*
# explictly add exceptions for required files/paths
!src/**/*.cs
!**/*.csproj
!**/*.sln
!NuGet.config
!global.json
!Directory.build.props