@page
@model Sample.Hosted.Pages.User.Profile.ProfileEditModel
@{
    var title = "Edit User Profile";
    var options = Get.LayoutOptions.Full(title);
    options.SubNavigation = Get.SubNavigation.ProfileSubNavigationCollection;
    options.Type = MainContentType.Card;


    ViewData[Get.ViewDataKeys.Title] = title;
    ViewData[Get.ViewDataKeys.MainContentLayoutOptions] = options;
}

@*https://getbootstrap.com/docs/5.3/forms/layout/*@
@*https://getbootstrap.com/docs/5.3/layout/columns/*@

<form method="post">
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row mb-3">
            <div class="col-3">
                <div class="form-floating col-auto">
                    <input asp-for="Input.PhoneNumber" class="form-control" type="tel" placeholder="05556667788"/>
                    <label asp-for="Input.PhoneNumber"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mb-0">
            <div class="col-3">
                <div class="form-group form-check">
                    <input asp-for="Input.SlimUI" class="form-check-input"/>
                    <label asp-for="Input.SlimUI" class="form-check-label"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="@Get.Page.User.Profile.Details" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>