@page
@using Sample.Hosted.TagHelpers
@model Sample.Hosted.Pages.User.Profile.ProfilePictureModel
@{
    var title = "Profile Picture";
    var options = Get.LayoutOptions.Full(title);
    options.SubNavigation = Get.SubNavigation.ProfileSubNavigationCollection;
    options.Type = MainContentType.Card;

    ViewData[Get.ViewDataKeys.Title] = title;
    ViewData[Get.ViewDataKeys.MainContentLayoutOptions] = options;
}

<div class="card-body">
    @if (!string.IsNullOrEmpty(ScopeContext.UserId))
    {
        <div>
            <profile-picture class="img-thumbnail" style="max-height: 250px"/>
        </div>
    }
</div>
<div class="card-footer">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!-- Profile Picture Upload -->
        <div class="form-group col-auto mb-3">
            <label asp-for="Input.ProfilePicture" class="form-label">New Profile Picture:</label>
            <input asp-for="Input.ProfilePicture" type="file" accept="image/jpeg" class="form-control"/>
            <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
        </div>

        <!-- Upload and Cancel Buttons -->
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Upload Picture</button>
            <a asp-page="@Get.Page.UserProfile.Details" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>