@page
@using Sample.Hosted.TagHelpers
@model Sample.Hosted.Pages.User.Profile.ProfilePictureModel
@{
    ViewData[ViewDataFor.Title] = "Profile Picture";
}

<h2>Change Profile Picture</h2>

<div class="card">
    <div class="card-body">
        @if (!string.IsNullOrEmpty(ScopeContext.UserId))
        {
            <div class="mb-3">
                <label>Current Profile Picture:</label>
                <div>
                    <profile-picture class="img-thumbnail" style="max-width: 400px; max-height: 400px;"/>
                </div>
            </div>
        }

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <!-- Profile Picture Upload -->
            <div class="row mb-3">
                <div class="form-group col-auto">
                    <label asp-for="Input.ProfilePicture" class="form-label">Profile Picture</label>
                    <input asp-for="Input.ProfilePicture" type="file" class="form-control"/>
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                </div>
            </div>

            <!-- Upload and Cancel Buttons -->
            <div class="col-auto mt-3">
                <button type="submit" class="btn btn-primary">Upload Picture</button>
                <a asp-page="@PageFor.UserProfile.Details" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}