<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8">
    <title>@ViewData[Get.ViewDataKeys.Title] - @ScopeContext.Settings.ApplicationName</title>
</head>
<body class="d-flex flex-column bg-secondary-subtle vh-100">
@RenderBody()

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>