<div class="d-flex flex-column" style="max-width: 200px;">
  <ul class="nav nav-pills nav-flush flex-column mb-auto">
    <li class="nav-item">
      <a href="@PageFor.Root.Home" class="nav-link d-flex align-items-center py-3 border-bottom border-top rounded-0" active-page="@PageFor.Root.Home" aria-current="page">
        <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#home"/></svg>
        Home
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex align-items-center py-3 border-bottom rounded-0">
        <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex align-items-center py-3 border-bottom rounded-0">
        <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#table"/></svg>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex align-items-center py-3 border-bottom rounded-0">
        <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#grid"/></svg>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex align-items-center py-3 border-bottom rounded-0">
        <svg class="bi pe-none me-2" width="24" height="24"><use xlink:href="#people-circle"/></svg>
        Customers
      </a>
    </li>
  </ul>
  <hr/>
  <div class="dropdown dropup">
    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <h4 class="bi bi-gear-fill">&nbsp;Settings</h4>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="@PageFor.User.Profile">My Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="@PageFor.User.Logout">Log out</a></li>
    </ul>
  </div>
</div>