<div class="d-flex flex-column align-items-center" style="width: 4.5rem;" >
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="@PageFor.Root.Home" active-page="@PageFor.Root.Home" class="nav-link d-flex py-3 border-bottom border-top rounded-0" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"/></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex py-3 border-bottom rounded-0" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Dashboard"><use xlink:href="#speedometer2"/></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex py-3 border-bottom rounded-0" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Orders"><use xlink:href="#table"/></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex py-3 border-bottom rounded-0" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Products"><use xlink:href="#grid"/></svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link d-flex py-3 border-bottom rounded-0" title="Customers" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Customers"><use xlink:href="#people-circle"/></svg>
      </a>
    </li>
  </ul>
  <hr/>
  <div class="dropdown dropup">
    <a href="#" class="d-flex align-items-center justify-content-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <h4 class="bi bi-gear-fill"></h4>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="@PageFor.User.Profile">My Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="@PageFor.User.Logout">Log out</a></li>
    </ul>
  </div>
</div>