@using Sample.Hosted.Utils

@*
https://getbootstrap.com/docs/5.3/examples/
https://getbootstrap.com/docs/5.3/examples/sidebars/
*@
<div class="d-flex p-3 bg-body-tertiary">
    @if (ClaimFor.Profile.SlimUi)
    {
        @await Html.PartialAsync("_SidebarSlim")
    }
    else
    {
        @await Html.PartialAsync("_SidebarFull")
    }
</div>

@*@await Html.PartialAsync("_SidebarCollapsible")*@
@*@await Html.PartialAsync("_SidebarListGroup")*@