name: drn-infra
services:
  # https://hub.docker.com/_/rabbitmq
  rabbit:
    image: ${DOCKER_REGISTRY-}rabbit:4.2.0-management-alpine
    build:
      context: ./Rabbitmq/image/
    container_name: drn-infra-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - drn-rabbit-log:/var/log/rabbitmq/
      - drn-rabbit-lib:/var/lib/rabbitmq/
      - drn-rabbit-etc:/etc/rabbitmq/
  # https://hub.docker.com/_/postgres
  postgres:
    image: postgres:18.1-alpine3.23
    container_name: drn-infra-postgres
    restart: unless-stopped
    volumes:
      - drn-postgres-data:/data/postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:? configure in the .env file}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:? configure in the .env file}
      POSTGRES_DB: ${POSTGRES_DB:-drn}
      PGDATA: ${PGDATA:-/data/postgres}
  # https://hub.docker.com/_/mongo/
  mongodb:
    image: "mongo:5.0.20"
    container_name: drn-infra-mongo
    volumes:
      - "drn-mongodb-data:/data/db"
    restart: "on-failure"
    deploy:
      resources:
        limits:
          memory: 1g

  # https://hub.docker.com/r/opensearchproject/opensearch
  opensearch:
    image: "opensearchproject/opensearch:2.8.0"
    container_name: drn-infra-opensearch
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "action.auto_create_index=false"
      - "plugins.security.ssl.http.enabled=false"
      - "plugins.security.disabled=true"
    ports:
    - "9200:9600"
    - "9600:9600"
    ulimits:
      memlock:
        hard: -1
        soft: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - "drn-os-data:/usr/share/opensearch/data"
    restart: "on-failure"

  # https://hub.docker.com/r/graylog/graylog/
  graylog:
    hostname: "server"
    image: "${GRAYLOG_IMAGE:-graylog/graylog:5.1.4}"
    container_name: drn-infra-graylog
    depends_on:
      opensearch:
        condition: "service_started"
      mongodb:
        condition: "service_started"
    entrypoint: "/usr/bin/tini -- wait-for-it opensearch:9200 --  /docker-entrypoint.sh"
    environment:
      GRAYLOG_NODE_ID_FILE: "/usr/share/graylog/data/config/node-id"
      GRAYLOG_PASSWORD_SECRET: "${GRAYLOG_PASSWORD_SECRET:?configure in the .env file}"
      GRAYLOG_ROOT_PASSWORD_SHA2: "${GRAYLOG_ROOT_PASSWORD_SHA2:?configure in the .env file}"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
      GRAYLOG_MONGODB_URI: "mongodb://mongodb:27017/graylog"
    ports:
    - "5044:5044/tcp"   # Beats
    - "5140:5140/udp"   # Syslog
    - "5140:5140/tcp"   # Syslog
    - "5555:5555/tcp"   # RAW TCP
    - "5555:5555/udp"   # RAW TCP
    - "9000:9000/tcp"   # Server API
    - "12201:12201/tcp" # GELF TCP
    - "12201:12201/udp" # GELF UDP
    #- "10000:10000/tcp" # Custom TCP port
    #- "10000:10000/udp" # Custom UDP port
    - "13301:13301/tcp" # Forwarder data
    - "13302:13302/tcp" # Forwarder config
    volumes:
      - "drn-graylog-data:/usr/share/graylog/data/data"
      - "drn-graylog-journal:/usr/share/graylog/data/journal"
    restart: "on-failure"
volumes:
  drn-mongodb-data:
  drn-os-data:
  drn-graylog-data:
  drn-graylog-journal:
  drn-postgres-data:
  drn-rabbit-log:
  drn-rabbit-lib:
  drn-rabbit-etc: