@page
@model Sample.Hosted.Pages.User.LockoutModel
@{
    var title = "Account Locked Out";
    var options = LayoutOptionsFor.Centered(title);
    ViewData[Get.ViewDataKeys.Title] = title;
    ViewData[Get.ViewDataKeys.MainContentLayoutOptions] = options;
    
    var lockOutMinutes = IdentitySettings.LockoutOptions.DefaultLockoutTimeSpan.Minutes;
}

<p>Your account has been temporarily locked due to multiple invalid attempts.</p>
<p>Please try again @lockOutMinutes minutes later.</p>
<p>If you believe this is a mistake, contact support for assistance.</p>