@page
@model Sample.Hosted.Pages.User.LoginWith2Fa

@{
    var title = "Two-Factor Authentication";
    var options = Get.LayoutOptions.Centered(title);
    ViewData[Get.ViewDataKeys.Title] = title;
    ViewData[Get.ViewDataKeys.MainContentLayoutOptions] = options;
}

<form method="post" class="text-start">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Login2FaModel.TwoFactorCode" class="form-control" placeholder="TwoFactorCode" autocomplete="one-time-code"/>
        <label asp-for="Login2FaModel.TwoFactorCode"></label>
    </div>
    <div class="form-group mb-3 form-check text-start">
        <input asp-for="Login2FaModel.RememberMe" class="form-check-input"/>
        <label asp-for="Login2FaModel.RememberMe" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary w-100">Verify</button>
</form>