@page
@model Sample.Hosted.Pages.User.LogoutModel

@{
    var title = "Log out";
    var options = LayoutOptionsFor.Centered(title);
    ViewData[ViewDataFor.Title] = title;
    ViewData[ViewDataFor.MainContentLayoutOptions] = options;
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <p class="text-center">Are you sure you want to log out?</p>

    <div class="d-grid gap-2 d-md-flex">
        <button type="submit" class="btn btn-primary w-50">Log out</button>
        <a asp-page="@PageFor.Root.Home" class="btn btn-secondary w-50">Cancel</a>
    </div>
</form>