@page
@model Sample.Hosted.Pages.User.LogoutModel

@{
    var title = "Log out";
    var options = Get.LayoutOptions.Centered(title);
    ViewData[Get.ViewDataKeys.Title] = title;
    ViewData[Get.ViewDataKeys.MainContentLayoutOptions] = options;
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <p class="text-center">Are you sure you want to log out?</p>

    <div class="d-grid gap-2 d-md-flex">
        <button type="submit" class="btn btn-primary flex-fill">Log out</button>
        <a asp-page="@Get.Page.Root.Home" class="btn btn-secondary flex-fill">Cancel</a>
    </div>
</form>