name: drn-postgres
services:
  # https://hub.docker.com/_/postgres
  postgres:
    image: postgres:18.1-alpine3.22
    container_name: drn-postgres
    restart: unless-stopped
    volumes:
      - drn-postgres-data:/data/postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:? configure in the .env file}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:? configure in the .env file}
      POSTGRES_DB: ${POSTGRES_DB:-drn}
      PGDATA: ${PGDATA:-/data/postgres}
volumes:
  drn-postgres-data: