name: drn-rabbit
services:
  # https://hub.docker.com/_/rabbitmq
  rabbit:
    image: ${DOCKER_REGISTRY-}rabbit:4.2.0-management-alpine
    build:
      context: ./image/
    container_name: drn-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - drn-rabbit-log:/var/log/rabbitmq/
      - drn-rabbit-lib:/var/lib/rabbitmq/
      - drn-rabbit-etc:/etc/rabbitmq/
volumes:
  drn-rabbit-log:
  drn-rabbit-lib:
  drn-rabbit-etc: